@model IEnumerable<PO_Projekt.Models.ProductName>

@{
    ViewData["Title"] = "Shopping cart";
}

<h1>Shopping cart (@ViewBag.CartCount)</h1>
<br />
<p class="text-danger">
    @ViewBag.CartChangeMessage
</p>
<div class="row">
<div class="col-md-9">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <th>
                        Prescription
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th width="1"></th>
                    <th width="1"></th>
                    <th width="1"></th>
                    <th></th>
                    <th></th>
                    @if (ViewBag.CartOk == false)
                    {
                        <th>@Html.DisplayNameFor(model => model.AvailableAmount)</th>
                    }
                        
                </tr>
            </thead>
            <tbody id="product-name-list">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="ProductNames" asp-action="Details" asp-route-id="@item.Id">
                                <img src="@Html.DisplayFor(modelItem => item.PhotoRelativePath)" height="80" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="ProductNames" asp-action="Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>

                        </td>

                        <td>
                            @if (item.RequiresPrescription)
                            {
                                <a asp-controller="ProductNames" asp-action="Index" class="btn btn-primary form-control">Add</a>
                            }
                            else
                            {
                                <p>
                                    does not apply
                                </p>
                            }
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <a class="plus-cart" asp-action="SubCart" asp-route-id="@item.Id"><img src="~/image/minus.png" height="25" /></a>
                        </td>
                        <td class="product-name-count">

                            @Html.DisplayFor(modelItem => item.ShoppingCartCount)

                        </td>
                        <td>
                            <a class="minus-cart" asp-action="AddCart" asp-route-id="@item.Id"><img src="~/image/plus.png" height="25" /></a>
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.ShoppingCartSumPrice)
                        </td>
                        <td>
                            <a class="bin-cart" asp-action="DelCart" asp-route-id="@item.Id"><img src="~/image/bin.png" height="25" /></a>
                        </td>
                        @if(ViewBag.CartOk == false)
                        {
                            <td>
                                @if (item.AvailableAmount == 0)
                                {
                                    <p class="text-danger">
                                        not available
                                    </p>
                                }
                                else if (item.ShoppingCartCount > item.AvailableAmount)
                                {
                                    <p class="text-danger">
                                        max @item.AvailableAmount is available
                                    </p>
                                }
                            </td>
                        }
                        
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>
<div class="col-md-3 col-md-offset-2">
    <section>
        @{
            double allSum = 0;
            foreach (var item in Model)
            {
                allSum += item.ShoppingCartSumPrice;
            }
            <p>
                <h5 align="center">sum:</h5>
                <h2 align="right">@Html.FormatValue(allSum, "{0:N2} zł")</h2>
                <h5 align="right">+ shipping</h5>
            </p>

        }
        <p>
            <a asp-controller="ProductNames" asp-action="Index" class="btn btn-primary form-control">Continue shopping</a>
        </p>
        @if (ViewBag.CartOk == false)
        {
            <p>
                <a asp-controller="ProductNames" asp-action="Index" class="btn btn-primary form-control disabled">BUY</a>
            </p>
        }
        else
        {
            <p>
                <a asp-controller="ProductNames" asp-action="Index" class="btn btn-primary form-control">BUY</a>
            </p>
        }
        

    </section>
</div>
</div>
<div class="navbar-nav flex-grow-1">
    <br />
    <img src="~/image/ad.png" />
    <br />
    </div>



